<% include partials/header %> <% include partials/navbar %>

<div class="container-fluid text-center">
  <h1 class="mt-4">Dashboard</h1>
  <p class="lead mb-3">Welcome, <%= name %>!</p>
</div>

<% include partials/footer %>
